@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6;
}
body {
  padding-top: 48px;
}
@theme {
  --color-primary: #011626;
  --color-orange-btn: #f5a34f;
  --color-background: #f7ffeb;
}
